<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name=" CarLibrary" publicKeyToken="d9512741ffe4eaea" />
				<codeBase version="1.0.0.0" href="file:///C:/MyAsms/CarLibrary.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
